<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890885856842-bdgbpvkp7k1a3sp6rniij3ejc1895r64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890885856842-bdgbpvkp7k1a3sp6rniij3ejc1895r64</string>
	<key>API_KEY</key>
	<string>AIzaSyALyiPvrANXoDeFoIs54gGx_6bOaO5xoGI</string>
	<key>GCM_SENDER_ID</key>
	<string>890885856842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sbcscScanner</string>
	<key>PROJECT_ID</key>
	<string>tech-trivia-d9c05</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-trivia-d9c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890885856842:ios:578b8e53de67c136</string>
	<key>DATABASE_URL</key>
	<string>https://tech-trivia-d9c05.firebaseio.com</string>
</dict>
</plist>